<% @setup = {
  title: 'Edit Project',
  description: 'Edit NFT project details.'
}
%>

<%= render partial: "shared/heading", locals: { title: '프로젝트 디테일', description: '프로젝트를 연결해서 민팅을 시작하세요' } %>

<div class="flex mx-auto w-96">
  <div class="w-full">
    <%= form_for(@project, html: {class: "mt-8", autocomplete: 'off'}) do |f| %>
      <div class="mb-2 border border-gray-300 rounded-md px-3 py-2">
        <label for="project_name" class="block text-xs font-medium text-gray-900">프로젝트명</label>
        <%= f.text_field :name, required: true, class: 'block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm', placeholder: 'NFT' %>
      </div>

      <div class="mb-2 border border-gray-300 rounded-md px-3 py-2">
        <label for="project_description" class="block text-xs font-medium text-gray-900">프로젝트 설명 (선택)</label>
        <%= f.text_area :description, class: 'block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm', placeholder: 'OneRoom is a collection of Korean apartments...' %>
      </div>

      <div class="mb-2 border border-gray-300 rounded-md px-3 py-2">
        <label for="project_description" class="block text-xs font-medium text-gray-900">데스크탑 배경 이미지 URL (선택)</label>
        <%= f.text_field :bg_image_url, class: 'block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm', placeholder: 'https://unsplash.com/....jpg' %>
      </div>

      <div class="mb-2 border border-gray-300 rounded-md px-3 py-2">
        <label for="project_description" class="block text-xs font-medium text-gray-900">SNS preview 이미지 URL (선택 - 1200x640)</label>
        <%= f.text_field :sns_image_url, class: 'block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm', placeholder: 'https://unsplash.com/....jpg' %>
      </div>

      <div class="border border-gray-300 rounded-md px-3 py-2">
        <label for="project_launch_epoch" class="block text-xs font-medium text-gray-900">런칭 개시일</label>
        <%= f.number_field :launch_epoch, required: true, class: 'block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm', placeholder: Time.now.to_i %>
      </div>
      <div class="text-right">
        <small class="text-sm"><%= link_to '여기서', 'https://www.epochconverter.com/', target: :_blank, class: 'text-indigo-600' %> 만드세요.</small>
      </div>

      <button type="submit" data-turbo="false" class="mt-4 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save
      </button>
    <% end %>
  </div>
</div>
